footer
    div(class="footer-inner")
        span(class="footer-tag") Working through day and night to finalize any idea.
        span(class="copyright-tag") © Copyright #{new Date().getFullYear()} <br> Colin Geukes