header
    nav
        div(class="nav-inner")
            a(id="nav-profile" class="nav-button" href="/#profile")
                i(class="fas fa-user-alt")
                span contact
            a(id="nav-education" class="nav-button" href="/#education")
                i(class="fas fa-graduation-cap")
                span education
            a(id="nav-experiences" class="nav-button" href="/#experiences")
                i(class="fas fa-briefcase")
                span experiences
            a(id="nav-abilities" class="nav-button" href="/#abilities")
                i(class="fas fa-dumbbell")
                span abilities
            a(id="nav-projects" class="nav-button" href="/#projects")
                i(class="fas fa-hammer")
                span projects
            a(id="nav-contact" class="nav-button" href="/#contact")
                i(class="fas fa-envelope-open-text")
                span contact