@mixin apply-skew($skewX, $skewY, $rotate) {
  -webkit-transform: skewX($skewX) skewY($skewY) rotate($rotate);
  -ms-transform: skewX($skewX) skewY($skewY) rotate($rotate);
  -o-transform: skewX($skewX) skewY($skewY) rotate($rotate);
  transform: skewX($skewX) skewY($skewY) rotate($rotate);
}

@mixin apply-transform($transforms) {
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin apply-box-shadow($x, $y, $z, $color) {
  -webkit-box-shadow: $x $y $z $color;
  -moz-box-shadow: $x $y $z $color;
  box-shadow: $x $y $z $color;
}
