@media (min-width: 1200px) {
  .content-container, .footer-inner, .nav-inner {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content-container, .footer-inner, .nav-inner {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .content-container, .footer-inner {
    width: 750px;
  }

  header nav .nav-inner {
    width: 750px;

    .nav-button {

      &:not(:first-child) {
        margin-left: 8px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  //.footer-inner {
  //  padding: 0 30px;
  //}
}

@media (max-width: 768px) {
  .section-header:not(.clip-always-visible) {

    &:after {
      visibility: hidden;
    }
  }

  .section-body > .shadow {
    visibility: hidden;
  }

  #abilities .row-2, #contact .row-2 {
    width: 100% !important;
  }

  .footer-inner {
    padding: 0 30px;
  }
}

@media (max-width: 616px) {
  .section-header {
    text-shadow: 0 0 0 $dark !important;

    h1 {
      font-size: 30px !important;
      line-height: 30px !important;
    }

    h2 {
      font-size: 15px !important;
      line-height: 15px !important;
    }
  }

  section.central-section .section-body {
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;

    &:before {
      border-left: 0;
      border-right: 0;
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .big-header {
    padding: 10px 15px !important;
  }

  ul.scores li {
    position: relative;

    .extra {
      transition: none !important;
      position: absolute;
      background: dimgrey;
      color: white !important;
      right: 0;
      width: 120px;
      text-align: center;
      z-index: 10;
      top: 0;

      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:hover {
      .extra {
        top: -13px;
      }

      .score {
        border-left: 3px dashed dimgrey;
        padding-left: 2px;

      }
    }
  }

  .footer-inner {
    flex-direction: column;

    .footer-tag {
      text-align: center;
    }

    .copyright-tag {
      margin-top: 1em;
      margin-left: 0 !important;
      text-align: center !important;
    }
  }
}


