html {
  scroll-behavior: smooth;
  background-color: $dark;
}

body {
  overflow: hidden auto;
  background-color: #272425;
  margin: 0;
  position: relative;
  background-image: url(../img/background.png);
  padding: 0;

  .bottom-page {
    margin: 165px 0 0;
    padding: 0 0 65px;
    background: #484848;
  }
}

//#home {
//  border-bottom: 5px solid #272524;
//  border-radius: 5px 5px 0 0;
//
//  .header-img {
//    background-position: center center;
//    background-image: url(../img/head-image.jpg);
//    background-size: cover;
//    background-repeat: no-repeat;
//    height: 535px;
//    border-radius: 5px 5px 0 0;
//
//    &:before {
//      background-color: rgba(216, 205, 187, 0.5);
//      content: '';
//      width: 100%;
//      height: 100%;
//      position: absolute;
//      left: 0;
//      top: 0;
//      border-radius: 5px 5px 0 0;
//    }
//
//    &:after {
//      content: '';
//      background-image: url(../img/shadow.png);
//      background-repeat: repeat-x;
//      background-position: bottom;
//      position: absolute;
//      bottom: 0;
//      width: 100%;
//      height: 100%;
//    }
//  }
//}

.content-container {
  padding: 0;
  border-radius: 5px;
  margin: 0 auto 120px;
}

section, header {
  position: relative;
}

section {
  padding-top: 120px;
  //margin-top: 60px;
  //margin-bottom: 60px;
}


.content-wrap.background {
  padding-bottom: 1px;
  margin-bottom: 70px;
  border-radius: 20px;
  background-color: $background-color;
}

section:nth-child(4n) .section-header:before {
  background-color: $color-1;
}

section:nth-child(4n + 1) .section-header:before {
  background-color: $color-2;
}

section:nth-child(4n + 2) .section-header:before {
  background-color: $color-3;
}

section:nth-child(4n + 3) .section-header:before {
  background-color: $color-4;
}


section.central-section {
  .section-header {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .section-body {
    margin: 0 auto 0;
    border: 20px solid $background-color;
    border-radius: 20px;
    background-color: $background-color;

    &.small {
      max-width: 600px;
    }
  }
}

.section-header {
  white-space: nowrap;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 85px;
  padding: 15px 25px 15px 50px;

  &.big-header {
    padding: 15px 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 0 #000;
    color: $dark;
    letter-spacing: -1px;

    > .content {
      width: 100%;

      h1 {
        font-size: 50px;
        line-height: 50px;
      }

      h2 {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: -1px;
      }
    }
  }

  &:before {
    border-radius: 0 3px 3px 0;
    position: absolute;
    content: '';
    background-image: url(../img/noise.png) $noise-color;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    @include apply-skew(-2deg, 0deg, -2deg);
  }

  &:after {
    content: '';
    background: url(../img/clip.png) no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 15%;
    left: -32px;
  }

  > .content {
    position: relative;
    z-index: 5;

    h1 {
      font-weight: 800;
      letter-spacing: -1px;
    }
  }
}

.section-body {
  z-index: 10;
  position: relative;
  left: 0;
  min-height: 300px;
  padding: 50px 20px;
  margin: 0 0 80px;
  width: 100%;
  overflow: hidden;

  &:before {
    background: url(../img/noise.png);
    background-color: $section-body;
    position: absolute;
    content: '';
    // Box-sizing not working, so adjust the border width.
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 0;
    top: 0;
    left: 0;
    border: 2px dashed $dark;
  }

  // Rotate/skew effect
  //&:not(.straight) {
  //  width: 103%;
  //
  //  &:before {
  //    @include apply-skew(1deg, 0deg, 1deg);
  //  }
  //}

  > .content {
    position: relative;
    z-index: 30;
    padding-top: 30px;
    // For intro animation
    transition: left 1s, opacity 0.3s;
    opacity: 1;
    left: 0;

    > .inner-content {
      padding: 0 20px;
    }
  }
}

.section-body > .shadow, .section-header > .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  &:before {
    height: 30px;
    position: absolute;
    content: '';
    bottom: 16px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 15px);
    background: transparent;
    @include apply-box-shadow(0, 15px, 9px, rgba(0, 0, 0, 0.4))
  }
}

//.section-body:not(.straight) > .shadow:before {
//  @include apply-transform(rotate(2deg) translateX(-50%));
//  bottom: -5px;
//}

.section-body > .shadow:before {
  bottom: 5px;
}


ul.scores {
  li {
    cursor: default;
    height: 22px;

    .name {
      color: #434242;
      font-size: 1.2em;
    }

    .extra {
      opacity: 0;
      transition: 0.8s opacity;
      padding: 0 6px;
      font-style: italic;
      color: #666;
      float: right;
    }

    .score {
      float: right;
      color: #c3c4c4;

      i {
        transition: 0.3s margin;
        line-height: 22px;

        &.filled {
          color: #22A39F;
        }
      }
    }

    &:hover {

      background-color: rgba(255, 255, 255, 0.41);

      .score i {
        margin-right: 5px;
      }

      .extra {
        opacity: 1;
      }
    }
  }
}

#abilities .section-body .content {
  h2 {
    color: #22A39F;
  }

  ul {
    margin: 0;

    li {
      padding: 3px 0;
    }
  }

  hr {
    border-top: 1px dashed #646B73;
    margin: 20px 0;
  }
}


.quote {
  text-align: center;

  > * {
    display: inline;
  }

  p {
    &:before {
      content: '"';
    }

    &:after {
      content: '"';
    }
  }

  .author:before {
    content: '-';
  }
}


.form-border {
  border: 2px dotted black;
  background: url(../img/noise.png) grey;
  border-radius: 12px;
  padding: 16px;
}

/**********
--- BUTTON BAR
 **********/
.button-bar {
  text-align: center;

  .button {
    display: inline-block;
    background-color: $background-color;
    padding: 5px;
    border-radius: 12px;

    a {
      width: 60px;
      height: 60px;
      background-color: #6ca338;
      display: inline-block;
      border: 2px dashed #000;
      border-radius: 10px;
      text-decoration: none;
      color: black;

      i {
        font-size: 40px;
        line-height: 60px;
      }

      &:hover {
        cursor: pointer;
        background-color: #95e13b;
      }
    }
  }
}

/**********
--- Preview Cards
 **********/
.card-panel {
  display: flex;

  .panel-button {
    flex: 0 0 40px;
    position: relative;
    margin: 0 5px;
    background-color: #a2a2a2;

    &.button-left {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &.button-right {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &:hover {
      cursor: pointer;
      background-color: #646B73;
    }

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 20px;
      @include apply-transform(translateX(-50%) translateY(-50%))
    }
  }

  .cards {
    flex: 1 1 auto;
  }
}

#projects {
  .cards {
    max-width: calc(100% - 90px);

    .row {
      display: flex;
      justify-content: center;
    }

    .hidden {
      position: absolute;
      visibility: hidden;
    }

    .card {
      background-color: white;
      height: 270px;
      text-align: center;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 6px;
      text-decoration: none;
      color: black;

      .image {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        background-color: $dark;
        color: white;

        img {
          transition: min-height 0.3s ease-out, max-height 0.3s ease-out, height 0.3s ease-out,
          min-width 0.3s ease-out, max-width 0.3s ease-out, width 0.3s ease-out;

          -o-object-fit: cover;
          object-fit: cover;
          min-height: 105%;
          min-width: 105%;
          width: 100%;
          margin: auto;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          @include apply-transform(translate(-50%, -50%))
        }
      }

      .text {
        flex: 0 1 100px;
        margin-top: -14px;
        z-index: 1;

        h1 {
          text-transform: none;
          font-size: 20px;
          display: inline-block;
          margin-bottom: 6px;
          background-color: $color-4;
          padding: 2px 10px;
          border-radius: 4px;
        }

        $font-size: 16px;
        $line-height: 1.4;
        $lines-to-show: 3;

        p {
          margin: -20px 0 0;
          padding: 20px 8px 4px;
          display: -webkit-box;
          //height: $font-size*$line-height*$lines-to-show;
          font-size: $font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:hover {
        cursor: pointer;

        h1 {
          background-color: #5dbbe8;
        }

        .image img {
          min-height: 130%;
          min-width: 130%;
        }
      }
    }
  }
}


/**********
--- Color schemes
 **********/

.section-theme-3 {

  .section-header:before {
    background-color: $color-2 !important;
  }

  .section-body:before {
    background-color: $color-3;
  }
}

/**********
--- NAVIGATION
 **********/
$nav-icon: 20px;
$nav-tag: 18px;
$nav-height: 56px;

header {
  height: $nav-height;

  nav {
    @include apply-box-shadow(0, 5px, 5px, $dark);
    position: fixed;
    z-index: 4321;
    width: 100%;
    background-color: $section-body;
    height: $nav-height;

    .nav-inner {
      margin: 0 auto;
      height: 100%;
      display: flex;
      padding: 0 16px 0 20px;

      .nav-button {
        margin: 0 20px;
        display: inline-block;
        text-align: center;
        background-color: $section-body-accent;
        text-decoration: none;
        color: $dark;
        position: relative;
        height: 100%;
        width: 160px;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }


        i {
          position: absolute;
          left: 0;
          right: 0;
          top: -25%;
          bottom: 0;
          margin: auto;
          width: $nav-icon;
          height: $nav-icon;
          font-size: $nav-icon;
          line-height: $nav-icon;
          transition: all 0.3s ease;
        }

        span {
          position: absolute;
          text-transform: capitalize;
          left: 0;
          right: 0;
          top: 50%;
          bottom: 0;
          height: $nav-tag;
          line-height: $nav-tag;
          font-size: $nav-tag;
          margin: auto;
        }

        &:hover, &.activated {

          border: 2px dashed $dark;
          border-top: 0;
          border-bottom: 0;
          color: white;

          i {
            @include apply-transform(scale(1.5));
            top: -18px;
            text-shadow: 2px 0 0 $dark, -2px 0 0 $dark, 0 2px 0 $dark, 0 -2px 0 $dark, 1px 1px $dark, -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark;
          }

          span {
            @include apply-transform(scale(0.9));
            font-weight: bold;
            text-shadow: 2px 0 0 $dark, -2px 0 0 $dark, 0 2px 0 $dark, 0 -2px 0 $dark, 1px 1px $dark, -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark;
          }

          &:nth-child(4n + 1) {
            background-color: $color-1;
          }

          &:nth-child(4n + 2) {
            background-color: $color-2;
          }

          &:nth-child(4n + 3) {
            background-color: $color-3;
          }

          &:nth-child(4n + 4) {
            background-color: $color-4;
          }
        }
      }
    }
  }
}

/**********
--- FOOTER
 **********/
$footer-height: 80px;

footer {
  background-color: $dark;
  //height: $footer-height;
  border-top: 2px dashed #444;
  padding: 20px 0;

  .footer-inner {
    margin: 0 auto;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .footer-tag {
      font-weight: 700;
      font-size: 18px;
    }

    .copyright-tag {
      text-transform: uppercase;
      font: bold 18px sofia-pro, sans-serif;
      letter-spacing: .08em;
      line-height: 1.5em;
      flex-shrink: 0;
      font-size: 16px;
      text-align: right;
      margin-left: 1em;
    }
  }
}

/**********
--- ROWS FOR GRID
 **********/

.row {
  margin: 0 -16px;

  > * {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 16px;
  }
}

.row-1 {
  width: 100%;
}

.row-2 {
  width: 50%;
}

.row-1-3 {
  width: calc(100% / 3);
}

.row-flex {
  flex: 1 1;
}

