$border-radius-large: 400px;
$border-radius: 88px;
$border-radius-small: 50px;

.main-timeline {
  font-family: tahoma;
  padding: 20px 0;
  position: relative;
}

.main-timeline::before,
.main-timeline::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: $section-body-accent;
  border-radius: 50%;
  border: 6px solid $dark;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  box-sizing: border-box;
  z-index: 2;
}

.main-timeline::after {
  top: auto;
  bottom: 15px;
}

.main-timeline .timeline {
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline::before,
.main-timeline .timeline::after {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: $border-radius-large 0 0 $border-radius-large;
  border: 16px solid;
  border-right: none;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-timeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  left: 12px;
  top: 15px;
}

.main-timeline .timeline-content {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-year-tag {
  position: relative;
  flex: 1 1 50%;
  margin: auto 0;
  padding: 0 50px;
  text-align: center;
}



.main-timeline .timeline-year {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.04em;
  display: block;
  margin-top: -8px;
  text-align: center;
}

.main-timeline .timeline-icon {
  font-size: 70px;
}

.main-timeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  order: 1;
  flex: 1 1 50%;
}

.main-timeline .title {
  //color: $color-1-light;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-timeline .description {
  font-size: 16px;
  margin: 8px 0 0;
}

.main-timeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 $border-radius-large $border-radius-large 0;
  border: 15px solid;
  border-left: none;
}

.main-timeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 $border-radius-large $border-radius-large 0;
  border: 15px solid;
  border-left: none;
}

.main-timeline .timeline:nth-child(even) .content {
  order: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-year-tag {
  order: 1;
}

.main-timeline .timeline:nth-child(4n+1)::before {
  border-color: $color-1;
}

.main-timeline .timeline:nth-child(4n+1)::after {
  border-color: $color-1-light;
}

.main-timeline .timeline:nth-child(4n+1) .timeline-icon {
  color: $color-1-light;
}

.main-timeline .timeline:nth-child(4n+1) .timeline-year {
  color: $color-1-light;
}

.main-timeline .timeline:nth-child(4n+1) .title {
  color: $color-1-light;
}

.main-timeline .timeline:nth-child(4n+2)::before {
  border-color: $color-2;
}

.main-timeline .timeline:nth-child(4n+2)::after {
  border-color: $color-2-light;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-icon {
  color: $color-2;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-year {
  color: $color-2;
}

.main-timeline .timeline:nth-child(4n+2) .title {
  color: $color-2;
}

.main-timeline .timeline:nth-child(4n+3)::before {
  border-color: $color-3-light;
}

.main-timeline .timeline:nth-child(4n+3)::after {
  border-color: $color-3;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-icon {
  color: $color-3-light;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-year {
  color: $color-3-light;
}

.main-timeline .timeline:nth-child(4n+3) .title {
  color: $color-3-light;
}

.main-timeline .timeline:nth-child(4n+4)::before {
  border-color: $color-4;
}

.main-timeline .timeline:nth-child(4n+4)::after {
  border-color: $color-4-light;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-icon {
  color: $color-4;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-year {
  color: $color-4;
}

.main-timeline .timeline:nth-child(4n+4) .title {
  color: $color-4;
}
//
//.main-timeline .timeline:nth-child(4n+5)::before {
//  border-color: #0071BD;
//}
//
//.main-timeline .timeline:nth-child(4n+5)::after {
//  border-color: #0050A3;
//}
//
//.main-timeline .timeline:nth-child(4n+5) .timeline-icon {
//  color: #0071BD;
//}
//
//.main-timeline .timeline:nth-child(4n+5) .timeline-year {
//  color: #0071BD;
//}
//
//.main-timeline .timeline:nth-child(4n+5) .title {
//  color: #0071BD;
//}

@media screen and (max-width: 1200px) {
  .main-timeline {

    // Manage the border roundness with screen width.
    .timeline:after {
      border-radius: $border-radius 0 0 $border-radius;
    }

    .timeline:before {
      border-radius: calc(#{$border-radius} + 10px) 0 0 calc(#{$border-radius} + 10px);
    }

    .timeline:nth-child(even):after {
      border-radius: 0 $border-radius $border-radius 0;
    }

    .timeline:nth-child(even):before {
      border-radius: 0 calc(#{$border-radius} + 10px) calc(#{$border-radius} + 10px) 0;
    }

    // Manage year and icons
    .timeline-icon {
      font-size: 60px;
    }

    .timeline-year {
      font-size: 40px;
    }

    .timeline-year-tag {
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) {


  .main-timeline {
    // Timeline position
    &:before {
      top: -10px;
    }

    &:after {
      bottom: 10px;
    }

    .timeline {
      margin-top: -19px;
    }

    // Manage the border roundness with screen width.
    .timeline:after {
      border-radius: $border-radius-small 0 0 $border-radius-small;
      border-width: 10px;
      height: calc(100% - 18px);
      width: calc(50% - 9px);
      top: 9px;
      left: 9px;
    }

    .timeline:before {
      border-radius: calc(#{$border-radius-small} + 10px) 0 0 calc(#{$border-radius-small} + 10px);
      border-width: 10px;
    }

    .timeline:nth-child(even):after {
      border-radius: 0 $border-radius-small $border-radius-small 0;
      border-width: 10px;
      height: calc(100% - 18px);
      width: calc(50% - 9px);
      top: 9px;
      right: 9px;
    }

    .timeline:nth-child(even):before {
      border-radius: 0 calc(#{$border-radius-small} + 10px) calc(#{$border-radius-small} + 10px) 0;
      border-width: 10px;
    }

    // Manage years and icons
    .timeline-icon {
      font-size: 60px;
    }

    .timeline-year {
      font-size: 26px;
    }

    .timeline-year-tag {
      flex: 0 0 auto;
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 479px) {

  .main-timeline {
    .content {
      padding: 10px;
    }

    .timeline-year {
      font-size: 16px;
      margin-top: 0;
    }

    .timeline-icon {
      font-size: 50px;
    }

    .title {
      font-size: 18px;
    }
  }
}