$noise-color: #dedad1;
$section-body: #f2f2f3;
$section-body-accent: #e9e9ea;
$background-color: #d8cdbb;
$header-background: #0000001a;

$color-1: #6ca338;
$color-2: #f3585b;
$color-3: #f0ca45;
$color-4: #4ca5d0;
$dark: #272425;