@import "portrait", "speech";

$background: #ECECEC;

$color-1-background: #90CCF4;
$color-2-background: #F3D250;
$color-3-background: #F78888;
$color-5: #5DA2D5;
$border-spacing: 2vw;

body {
  background: $background;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Maven Pro', sans-serif;
  overflow: hidden;
  height: 100vh;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  z-index: 1;
  background-color: $icon-background;
  display: flex;
  padding: 28px 2em;
  border-bottom: 2px solid #fff;
  color: $nav-color;
  font-size: 1.4em;
  font-weight: 400;

  .nav-buttons {
    flex: 1 1 auto;

    a {
      @extend .unselectable;
      cursor: pointer;

      &:hover {
        color: #9b9b96;
      }
    }

    &.righted {
      text-align: right;
    }
  }

  .nav-icon {
    flex: 0 0 180px;
    opacity: 0;

    &:after {
      position: absolute;
      height: 13px;
      width: 177px;
      top: 73px;
      background-color: $icon-background;
      content: '';
      z-index: 40;
      margin-left: 2px;
    }
  }
}

#full-nav {
  //width: 100vw;
  //height: 100vh;
  position: fixed;
}

#content {
  height: 100vh;
  background-color: $color-3-background;
  margin-top: 100vh;
  overflow: auto;

  #content-inner {
    height: 800vh;
  }
}

#landing-page {
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}