@import "imports/defaults", "imports/responsive", "imports/loading", "imports/timeline", "imports/form", "imports/theme";

#education .main-timeline .content, #experiences .main-timeline .content {
  h3 {
    font-weight: 800;
  }

  h4 {
    text-transform: none;
  }
}


#profile {
  .section-body .content {
    display: flex;
    flex-direction: row;
    padding-top: 60px;

    .profile-outer {
      flex: 0 0 400px;
      position: relative;

      .profile {
        @include apply-transform(rotate(-1deg) translateY(-50%));
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px #000;
        margin-left: 20px;
        flex: 0 0 auto;
        position: absolute;
        top: 50%;


        .profile-image {
          overflow: hidden;
          position: relative;

          img {
            height: auto;
            width: 100%;
          }
        }

        .details {
          @include apply-transform(rotate(1deg));
          text-align: center;

          .details-inner {
            text-align: left;
            display: inline-block;
            margin: 12px 0 -8px;
          }

          .attribute {
            text-decoration: none;
            display: block;
            font-size: 20px;
            cursor: default;
            margin-bottom: 8px;

            &[href] {
              cursor: pointer;
            }

            i {
              width: 30px;
              text-align: center;
              font-size: 25px;
            }

            span {
              line-height: 25px;
              margin-left: 10px;
              color: $dark;
            }
          }
        }

        #detail-email i {
          color: $color-4;
        }

        #detail-place i {
          color: $color-2;
        }

        #detail-birthday i {
          color: $color-1;
        }
      }
    }


    .content-body {
      flex: 1 1 auto;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      p {
        font-size: 20px;
        margin: 0 0 1em 0;
      }

      .hobbies-tag {
        margin-top: auto;
        text-align: center;

        h2 {
          margin-bottom: 16px;
          display: inline-block;
          background-color: $header-background;
          padding: 0 30px;
          text-transform: none;
        }
      }
    }
  }
}

$hobby-icon: 20px;
$hobby-tag: 16px;
$hobby-bracket: 150px;


.hobbies-outer {
  text-align: center;
}

.hobbies {
  position: relative;
  margin: 0 -30px;
  display: inline-block;

  &::before, &::after {
    content: "{";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    font-size: $hobby-bracket;
    line-height: $hobby-bracket;
    height: $hobby-bracket;
    transition: 1s all;
  }

  &::after {
    content: "}";
    left: auto;
    right: 0;

  }

  .hobbies-row {
    text-align: center;
    padding: 0 75px;

    .hobby-icon {
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      background-color: $background-color;
      width: 100px;
      height: 100px;
      position: relative;
      border: 2px dashed $dark;
      cursor: default;
      margin: 4px;
      opacity: 0;

      i {
        position: absolute;
        left: 0;
        right: 0;
        top: -15%;
        bottom: 0;
        margin: auto;
        width: $hobby-icon;
        height: $hobby-icon;
        font-size: $hobby-icon;
        line-height: $hobby-icon;
        transition: all 0.3s ease;
      }

      span {
        position: absolute;
        text-transform: capitalize;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        height: $hobby-tag;
        line-height: $hobby-tag;
        font-size: $hobby-tag;
        margin: auto;
      }

      &:hover {

        border: 2px dashed white;
        color: white;

        i {
          @include apply-transform(scale(1.5));
          top: -18px;
        }

        span {
          @include apply-transform(scale(0.9));
        }
      }
    }

    &:nth-child(1) .hobby-icon:nth-child(4n + 1):hover, &:nth-child(2) .hobby-icon:nth-child(4n + 3):hover {
      background-color: $color-1;
    }

    &:nth-child(1) .hobby-icon:nth-child(4n + 2):hover, &:nth-child(2) .hobby-icon:nth-child(4n + 4):hover {
      background-color: $color-2;
    }

    &:nth-child(1) .hobby-icon:nth-child(4n + 3):hover, &:nth-child(2) .hobby-icon:nth-child(4n + 1):hover {
      background-color: $color-3;
    }

    &:nth-child(1) .hobby-icon:nth-child(4n + 4):hover, &:nth-child(2) .hobby-icon:nth-child(4n + 2):hover {
      background-color: $color-4;
    }
  }
}

#projects {
  .cards {
    max-width: calc(100% - 90px);

    .row {
      display: flex;
      justify-content: center;
    }

    .hidden {
      position: absolute;
      visibility: hidden;
    }

    .card {
      background-color: white;
      height: 270px;
      text-align: center;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 6px;
      text-decoration: none;
      color: black;

      .image {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        background-color: $dark;
        color: white;

        img {
          transition: min-height 0.3s ease-out, max-height 0.3s ease-out, height 0.3s ease-out,
          min-width 0.3s ease-out, max-width 0.3s ease-out, width 0.3s ease-out;

          -o-object-fit: cover;
          object-fit: cover;
          min-height: 105%;
          min-width: 105%;
          width: 100%;
          margin: auto;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          @include apply-transform(translate(-50%, -50%))
        }
      }

      .text {
        flex: 0 1 100px;
        margin-top: -14px;
        z-index: 1;

        h1 {
          text-transform: none;
          font-size: 20px;
          display: inline-block;
          margin-bottom: 6px;
          background-color: $color-1;
          padding: 2px 10px;
          border-radius: 4px;
        }

        $font-size: 16px;
        $line-height: 1.4;
        $lines-to-show: 3;

        p {
          margin: -20px 0 0;
          padding: 20px 8px 4px;
          display: -webkit-box;
          //height: $font-size*$line-height*$lines-to-show;
          font-size: $font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:hover {
        cursor: pointer;

        h1 {
          background-color: $color-1-light;
        }

        .image img {
          min-height: 130%;
          min-width: 130%;
        }
      }
    }
  }

  .project-on-github {
    text-align: center;
    margin: 32px auto 0;
    max-width: 460px;

    a {
      padding: 10px 25px;
      border-radius: 4px;
      background-color: $color-2;
      color: $dark;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;

      &:hover {
        background-color: $color-2-light;
      }
    }
  }
}

#achievements {
  max-width: 768px;

  .timeline-icon i {
    font-size: 45px;
  }

  .timeline-year span {
    font-size: 36px;
  }

  h3.title {
    font-weight: 700;
  }
}

#contact {
  .section-body:before {
    background-color: $color-4-light;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .profile-outer {
    flex-basis: 310px !important;

    .attribute span {
      font-size: 18px;
    }
  }

  .content-body {
    margin-top: 0 !important;
  }
}

@media (max-width: 992px) {
  #profile .section-body .content {
    flex-direction: column;

    .profile-outer {
      position: static;
      flex-basis: auto;
      margin-top: -80px;

      .profile {
        position: static;
        display: flex;
        margin-left: 0;
        flex-direction: row;
        @include apply-transform(rotate(-1deg));

        .details {
          position: relative;
          flex: 0 0 300px;

          .details-inner {
            @include apply-transform-important(translate(-50%, -50%));
            position: absolute;
            white-space: nowrap;
            left: 50%;
            top: 50%;
          }
        }
      }
    }

    .content-body {
      margin-top: 2em !important;
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  #profile .section-body .content .profile-outer {
    margin-top: -50px;
  }
}

@media (max-width: 616px) {
  #profile .section-body .content {

    .profile-outer {
      margin-top: -90px;
      text-align: center;

      .profile {
        flex-direction: column;
        max-width: 400px;
        display: inline-block;
        transform: none;

        .details {
          display: block;

          .details-inner {
            position: static;
            transform: none !important;

            .attribute {
              font-size: 18px;
            }
          }
        }
      }
    }

    .content-body > p {
      padding: 0 20px;
    }

    .hobbies {
      &::before, &::after {
        content: none;
      }

      .hobbies-row {
        padding: 0;
      }
    }
  }
}

@media (max-width: 450px) {

  .profile-outer {
    margin-top: -50px !important;

    .details-inner .attribute span {
      white-space: normal !important;
      word-wrap: break-word;
    }
  }

  .hobbies-row {
    max-width: 300px;
  }
}

/******
--- ANIMATIONS
*******/

.hobbies.intro-animation {
  &::after, &::before {
    transform: scale(0);
  }
}

section:nth-child(2n + 1) .section-body > .content.intro-animation {
  left: -110%;
  opacity: 0;
}

section:nth-child(2n + 2) .section-body > .content.intro-animation {
  left: 110%;
  opacity: 0;
}

// OLD ANIMATION
.hobbies:not(.intro-animation) .hobbies-row {
  &:nth-child(1) {
    > :nth-child(1) {
      animation: 0.8s fall-in ease-in-out forwards;
    }

    > :nth-child(2) {
      animation: 0.8s fall-in 0.2s ease-in-out forwards;
    }

    > :nth-child(3) {
      animation: 0.9s fall-in-large ease-in-out forwards;
    }

    > :nth-child(4) {
      animation: 0.8s fall-in 0.1s ease-in-out forwards;
    }
  }

  &:nth-child(2) {
    > :nth-child(1) {
      animation: 0.9s fall-in-large 0.1s ease-in-out forwards;
    }

    > :nth-child(2) {
      animation: 0.7s fall-in 0.25s ease-in-out forwards;
    }

    > :nth-child(3) {
      animation: 0.9s fall-in-large ease-in-out forwards;
    }
  }
}

@keyframes fall-in {
  0% {
    top: -450px
  }
  33% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fall-in-large {
  0% {
    top: -650px
  }
  33% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}