@import "variables";

.meter {
  height: 12px;
  position: relative;
  background: $bar-background;
  border-radius: 14px;
  padding: 6px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

  &:after {
    content: '';
    background-color: $bar-background-inner;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: 6px;
    border-radius: 6px;
  }

  > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(43, 194, 83);
    z-index: 1;
    width: 0;

    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    transition: all 2s;

    font-size: 12px;
    text-align: right;
    color: #fff;
    padding-right: 12px;
    line-height: 12px;
  }
}

