$bubble-color: #f7e2ac;
$bubble-text: #59523e;

.speech-bubble {
  position: absolute;
  background: $bubble-color;
  border-radius: .4em;
  color: $bubble-text;
  padding: 1em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.25em solid transparent;
  border-top-color: $bubble-color;
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.625em;
  margin-bottom: -1.25em;
}

#bubble-welcome {
  z-index: 300;
  width: 180px;
  top: -38px;
  left: 61px;
  font-weight: 700;
}