$background: #ECECEC;

$color-1-background: #90CCF4;
$color-2-background: #F3D250;
$color-3-background: #F78888;
$color-5: #5DA2D5;
$bar-background: #666;
$bar-background-inner: #ddd;
$border-spacing: 2vw;