doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        div(id="full-nav")
            nav
                div(class="nav-buttons")
                    a about
                div(class="nav-icon")
                div(class="nav-buttons righted")
                    a contact
            div(id="landing-page")
                div(class="container")
                    div(class="profile")
                        div(class="group")
                            div(class="hair")
                            div(class="ear")
                            div(class="ear right")
                            div(class="fringe")
                            div(class="face")
                            div(class="eye left")
                            div(class="eye right")
                            div(class="blush")
                            div(class="nose")
                            div(class="mouth")
                                div(class="tongue")
                            div(class="neck")
                            div(class="body")
                            div(class="tie")
                                div(class="knot")
                            div(class="collar left")
                            div(class="collar right")
                            div(class="jacket right")
                            div(class="jacket left")
                            div(class="jacket-back")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" class="dotted-circle")
                        circle(cx="100" cy="100" r="99")
                    div(id="bubble-welcome" class="speech-bubble unselectable") Hello there, and welcome to my curriculum vitae.
        div(id="content")
            div(id="content-inner")

        script(type="text/javascript", src="/js/index.js")