doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="https://kit.fontawesome.com/62bb281db1.js")
        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        include includes/navigation
        div(class="content-container")
            section(id="profile" class="color-2")
                div(class="section-header big-header has-shadow")
                    div(class="content")
                        h1 Colin Geukes
                        h2 software programmer
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="profile-outer")
                            div(class="profile")
                                div(class="profile-image")
                                    img(src="img/profile.jpg")
                                div(class="details")
                                    div(class="details-inner")
                                        a(id="detail-birthday" class="attribute")
                                            i(class="fas fa-birthday-cake")
                                            span 11 january 1998
                                        a(id="detail-email" class="attribute" href="#contact")
                                            i(class="fas fa-envelope")
                                            span Colingeukes@gmail.com
                                        a(id="detail-place" class="attribute")
                                            i(class="fas fa-map-marker-alt")
                                            span Live in: <b>Delft, Netherlands</b>
                                        a(id="detail-telephone" class="attribute")
                                            i(class="fas fa-phone-alt")
                                            span +31 (06) 55725038

                        div(class="content-body")
                            p I am a highly competent software developer that can solve a fast amount of different tasks, including designing websites, networking, database management, algorithms and much more. I have strong technical skills as well as a passion for designing software. In my early life, I learned all in an autodidactic manner. Later on, I attended university to enhance my technical skills. I am eager to be challenged in order to grow and further improve my software developing skills. My greatest passion in life is using my technical understandings to benefit other people and organizations.
                            p I enjoy writing code that is well structured and properly documented, to make it easily maintainable and improve group performance. I like working in a team, and can handle scrum meetings without any hassle!
                            div(class="hobbies-tag")
                                h2 Interests & hobbies
                            div(class="hobbies-outer")
                                div(class="hobbies intro-animation")
                                    div(class="hobbies-row")
                                        div(class="hobby-icon")
                                            i(class="fas fa-rocket")
                                            span space
                                        div(class="hobby-icon")
                                            i(class="fas fa-leaf")
                                            span nature
                                        div(class="hobby-icon")
                                            i(class="fas fa-tree")
                                            span hiking
                                        div(class="hobby-icon")
                                            i(class="fas fa-paw")
                                            span animals
                                    div(class="hobbies-row")
                                        div(class="hobby-icon")
                                            i(class="fas fa-plane")
                                            span travelling
                                        div(class="hobby-icon")
                                            i(class="fas fa-coffee")
                                            span coffee
                                        div(class="hobby-icon")
                                            i(class="fas fa-flask")
                                            span science
                    div(class="shadow")

            //---- Education section
            section(id="education" class="color-3")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 education
                    div(class="shadow")
                div(class="section-body")
                    div(class="content loading intro-animation")
                        div(class="main-timeline")
                    div(class="content-loader")
                        div
                        div
                        div
                    div(class="shadow")

            //---- Experience section
            section(id="experiences" class="color-4")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 experiences
                    div(class="shadow")
                div(class="section-body")
                    div(class="content loading intro-animation")
                        div(class="main-timeline")
                    div(class="content-loader")
                        div
                        div
                        div
                    div(class="shadow")

            //---- Abilities section
            section(id="abilities" class="color-1")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 abilities
                    div(class="shadow")
                div(class="section-body")
                    div(class="content loading intro-animation")
                        div(class="inner-content")
                    div(class="content-loader")
                        div
                        div
                        div
                    div(class="shadow")

            //---- Projects preview section
            section(id="projects" class="color-2")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 projects
                    div(class="shadow")
                div(class="section-body")
                    div(class="content loading intro-animation")
                        div(class="project-gallery")
                        div(class="project-on-github")
                            p This project is build on a custom made nodeJS framework. It contains a lot of features and functionality to show what I am capable of.
                            a(href="https://github.com/ColinGeukes/Curriculum-Vitae") See project on github
                    div(class="content-loader")
                        div
                        div
                        div
                    div(class="shadow")

            //---- Achievements section
            section(id="achievements" class="color-3")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 achievements
                    div(class="shadow")
                div(class="section-body")
                    div(class="content loading intro-animation")
                        div(class="main-timeline")
                    div(class="content-loader")
                        div
                        div
                        div
                    div(class="shadow")

            section(id="contact" class="color-2")
                div(class="section-header clip-always-visible has-shadow")
                    div(class="content")
                        h1 How can I help?
                    div(class="shadow")
                div(class="section-body small bg-2")
                    div(class="content")
                        form(id="contact-form" class="row form" name="contact" method="post" action="/api/contact")
                            div(class="row-2 required")
                                label(for="form-input-name") name
                                input(id="form-input-name" name="name" type="text" placeholder="Your name" required)
                            div(class="row-2")
                                label(for="form-input-organisation") organisation
                                input(id="form-input-organisation" name="organization" type="text" placeholder="Your organization")
                            div(class="row-1 required")
                                label(for="form-input-email") email address
                                input(id="form-input-email" type="email" name="email" placeholder="Your email address" required)
                            div(class="row-1 required")
                                label(for="form-input-description") description
                                textarea(id="form-input-description" name="description" required)
                            div(class="row-1")
                                input(id="form-input-submit" type="submit", value="Go!")
                    div(class="shadow")
        include includes/footer
        script(type="text/javascript", src="/js/skill.js")
        script(type="text/javascript", src="/js/projectCard.js")
        script(type="text/javascript", src="/js/education.js")
        script(type="text/javascript", src="/js/experience.js")
        script(type="text/javascript", src="/js/gallery.js")
        script(type="text/javascript", src="/js/achievement.js")
        script(type="text/javascript", src="/js/views/main/scrollHandler.js")
        script(type="text/javascript", src="/js/views/main/pageHandler.js")
        script initPageHandler();

