doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        div(id="full-nav")
            nav
                div(class="nav-buttons")
                    a(href="#about") about
                    a(href="#skills") skills
                div(class="nav-icon")
                div(class="nav-buttons righted")
                    a(href="#contact") contact
            div(id="landing-page")
                div(class="container")
                    div(class="profile")
                        div(class="group")
                            div(class="hair")
                            div(class="ear")
                            div(class="ear right")
                            div(class="fringe")
                            div(class="face")
                            div(class="eye left")
                            div(class="eye right")
                            div(class="blush")
                            div(class="nose")
                            div(class="mouth")
                                div(class="tongue")
                            div(class="neck")
                            div(class="body")
                            div(class="tie")
                                div(class="knot")
                            div(class="collar left")
                            div(class="collar right")
                            div(class="jacket right")
                            div(class="jacket left")
                            div(class="jacket-back")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" class="dotted-circle")
                        circle(cx="100" cy="100" r="99")
                    div(id="bubble-welcome" class="speech-bubble unselectable") Hello there, and welcome to my curriculum vitae.
        div(id="content")
            section(id="about")
                div(class="panel cs-1")
                    h1 Hello! I’m Meagan Fisher. I create impactful websites for people with good ideas.
                    p As a rare designer-developer hybrid, I am passionate and knowledgeable about both the visual and technical aspects of creating a website. My mission is to help bring more beauty, creativity, and good ideas into the world through web design.
            section(id="skills")
                div(class="panel cs-3")
                    p Here is a list of all my skills.
                    div(class="skill")
                        h2 java
                        p 11 year experience
            section(id="recent-work")
                div(class="panel cs-2")
                    h1 Recent work
                    p I’ve been creating websites for over a decade. In that time, I’ve been lucky enough to partner with amazing companies like Twitter, The Wharton School of Business, Dribbble, Campaign Monitor, the Audubon Society, Adobe and more.
            section(id="achievements")
                div(class="panel cs-1")
                    p List of all my achievements
            section(id="contact")
                div(class="panel cs-3")
            footer
                div(class="panel cs-1")
                    p © COPYRIGHT 2019 <br> Colin Geukes


        script(type="text/javascript", src="/js/index.js")