doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        link(href="../fontawesome/css/fontawesome.css" rel="stylesheet")
        link(href="../fontawesome/css/brands.css" rel="stylesheet")
        link(href="../fontawesome/css/solid.css" rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        include includes/navigation
        div(class="content-container")
            section(id="profile" class="central-section")
                div(class="section-header big-header has-shadow")
                    div(class="content")
                        h1 Colin Geukes
                        h2 software programmer
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="profile-outer")
                            div(class="profile")
                                div(class="profile-image")
                                    img(src="img/profile.jpg")
                                div(class="details")
                                    div(class="details-inner")
                                        a(id="detail-birthday" class="attribute")
                                            i(class="fas fa-birthday-cake")
                                            span 11 january 1998
                                        a(id="detail-email" class="attribute" href="#contact")
                                            i(class="fas fa-envelope")
                                            span Colingeukes@gmail.com
                                        a(id="detail-place" class="attribute")
                                            i(class="fas fa-map-marker-alt")
                                            span Live in: <b>Delft, Netherlands</b>
                                        a(id="detail-telephone" class="attribute")
                                            i(class="fas fa-phone-alt")
                                            span +31 (06) 55725038

                        div(class="content-body")
                            p I am an allround web developer. I am a senior programmer with good knowledge of front-end techniques. I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.
                            p I am an allround web devnding time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.

                            div(class="hobbies-tag")
                                h2 Interests & hobbies
                            div(class="hobbies-outer")
                                div(class="hobbies")
                                    div(class="hobbies-row")
                                        div(class="hobby-icon")
                                            i(class="fas fa-rocket")
                                            span space
                                        div(class="hobby-icon")
                                            i(class="fas fa-leaf")
                                            span nature
                                        div(class="hobby-icon")
                                            i(class="fas fa-tree")
                                            span hiking
                                        div(class="hobby-icon")
                                            i(class="fas fa-paw")
                                            span animals
                                    div(class="hobbies-row")
                                        // Filler divs to force color scheme.
                                        div(class="hobby-icon")
                                            i(class="fas fa-plane")
                                            span travelling
                                        div(class="hobby-icon")
                                            i(class="fas fa-coffee")
                                            span coffee
                                        div(class="hobby-icon")
                                            i(class="fas fa-flask")
                                            span science
                    div(class="shadow")

            //---- Education section
            section(id="education" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 education
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="main-timeline")
                    div(class="shadow")

            //---- Experience section
            section(id="experiences" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 experiences
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="main-timeline")
                    div(class="shadow")

            //---- Abilities section
            section(id="abilities" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 abilities
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="inner-content")
                    div(class="shadow")

            //---- Projects preview section
            section(id="projects" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 projects
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="project-gallery")
                    div(class="shadow")

            section(id="contact" class="central-section section-theme-3")
                div(class="section-header clip-always-visible has-shadow")
                    div(class="content")
                        h1 How can I help?
                    div(class="shadow")
                div(class="section-body small bg-2")
                    div(class="content")
                        form(id="contact-form" class="row form" name="contact" method="post" action="/api/contact")
                            div(class="row-2 required")
                                label(for="form-input-name") name
                                input(id="form-input-name" name="name" type="text" placeholder="Your name" required)
                            div(class="row-2")
                                label(for="form-input-organisation") organisation
                                input(id="form-input-organisation" name="organization" type="text" placeholder="Your organization")
                            div(class="row-1 required")
                                label(for="form-input-email") email address
                                input(id="form-input-email" type="email" name="email" placeholder="Your email address" required)
                            div(class="row-1 required")
                                label(for="form-input-description") description
                                textarea(id="form-input-description" name="description" required)
                            div(class="row-1")
                                input(id="form-input-submit" type="submit", value="Go!")
                    div(class="shadow")
        include includes/footer
        script(type="text/javascript", src="/js/skill.js")
        script(type="text/javascript", src="/js/projectCard.js")
        script(type="text/javascript", src="/js/education.js")
        script(type="text/javascript", src="/js/experience.js")
        script(type="text/javascript", src="/js/gallery.js")
        script(type="text/javascript", src="/js/views/main/scrollHandler.js")
        script(type="text/javascript", src="/js/views/main/pageHandler.js")
        script initPageHandler();

