doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        link(href="../fontawesome/css/fontawesome.css" rel="stylesheet")
        link(href="../fontawesome/css/brands.css" rel="stylesheet")
        link(href="../fontawesome/css/solid.css" rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        div(class="content-container")
            //div(class="content-wrap background")
            header(id="home")
                div(class="header-img")
            section(id="info")
                div(class="section-header big-header has-shadow")
                    div(class="content")
                        h1 Colin Geukes
                        h2 software programmer
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        p hello I am colin <br> Guekes and ..d.af.sf.asdf.
                    div(class="shadow")
            section(id="education")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 education
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        p This is my education thingy
                    div(class="shadow")

            //---- Abilities section
            section(id="abilities" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 abilities
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="inner-content")

                            //---- Abilities: Skills
                            h2 skills
                            div(id="skills" class="row")
                                ul(class="row-2 no-bullets scores")
                                ul(class="row-2 no-bullets scores")
                            hr
                            //---- Abilities: Languages
                            h2 languages
                            div(id="languages" class="row")
                                ul(class="row-2 no-bullets scores")
                                ul(class="row-2 no-bullets scores")
                            hr
                            //---- Abilities: Tools
                            h2 tools
                            div(class="quote")
                                p We shape our tools and afterwards our tools shape us.
                                span(class="author") Marshall McLuhan
                            div(id="tools" class="row")
                                ul(class="row-2 no-bullets scores")
                                ul(class="row-2 no-bullets scores")
                    div(class="shadow")
            section(id="projects" class="central-section")
                div(class="section-header has-shadow")
                    div(class="content")
                        h1 projects
                    div(class="shadow")
                div(class="section-body")
                    div(class="content")
                        div(class="card-panel")
                            div(class="panel-button button-left")
                                i(class="fas fa-chevron-left")
                            div(class="cards")
                                div(class="row")
                            div(class="panel-button button-right")
                                i(class="fas fa-chevron-right")
                    div(class="shadow")

            section(id="contact" class="central-section section-theme-3")
                div(class="section-header clip-always-visible has-shadow")
                    div(class="content")
                        h1 How can I help?
                    div(class="shadow")
                div(class="section-body small bg-2")
                    div(class="content")
                        form(id="contact-form" class="row form" name="contact" method="post" action="/api/contact")
                            div(class="row-2 required")
                                label(for="form-input-name") name
                                input(id="form-input-name" name="name" type="text" placeholder="Your name" required)
                            div(class="row-2")
                                label(for="form-input-organisation") organisation
                                input(id="form-input-organisation" name="organization" type="text" placeholder="Your organization")
                            div(class="row-1 required")
                                label(for="form-input-email") email address
                                input(id="form-input-email" type="email" name="email" placeholder="Your email address" required)
                            div(class="row-1 required")
                                label(for="form-input-description") description
                                textarea(id="form-input-description" name="description" required)
                            div(class="row-1")
                                input(id="form-input-submit" type="submit", value="Go!")
                    div(class="shadow")
        script(type="text/javascript", src="/js/skill.js")
        script(type="text/javascript", src="/js/projectCard.js")
        script(type="text/javascript", src="/js/views/main/pageHandler.js")