doctype html
html
    head
        include includes/head
        link(rel="stylesheet", type="text/css", href="/css/pageProject.css")
    body
        include includes/navigation
        div(class="content-container fully-hidden")
            section(id="project")
                div(class="section-header clip-always-visible has-shadow")
                    div(class="content")
                        h1
                    div(class="shadow")
                div(class="section-body straight")
                    div(class="content")
                        div(class="flex-wrap")
                            div(class="image")
                            div(class="description")
                            div(id="project-tags")
                    div(class="shadow")
        include includes/footer
        script(type="text/javascript", src="/js/views/project/project.js")
        script(type="text/javascript", src="/js/views/project/projectAbility.js")
        script(type="text/javascript", src="/js/views/project/pageHandler.js")
        script loadProject(#{params.id})


