doctype html
html
    head
        include includes/head
        link(rel="stylesheet", type="text/css", href="/css/pageThanks.css")
    body
        include includes/navigation
        div(class="content-container")
            section(id="project")
                div(class="section-header clip-always-visible has-shadow")
                    div(class="content")
                        h1 Thank you!
                    div(class="shadow")
                div(class="section-body straight")
                    div(class="content")
                        h2 Thank you #{params.name},
                        p for getting in contact with me. <br> I will mostly reply within a week. <br> Future information is also sent by email.
                        p Your sincerely, <br> Colin Geukes.
                    div(class="shadow")
        include includes/footer
        script(type="text/javascript", src="/js/views/thanks/pageHandler.js")
        script load();