doctype html
html
    head
        title #{appName}
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        link(href="../fontawesome/css/fontawesome.css" rel="stylesheet")
        link(href="../fontawesome/css/brands.css" rel="stylesheet")
        link(href="../fontawesome/css/solid.css" rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        div(class="content-container")
            div(class="content-wrap")
                section(id="info" class="central-section")
                    div(class="section-header clip-always-visible has-shadow")
                        div(class="content")
                            h1 Thank you!
                        div(class="shadow")
                    div(class="section-body small straight")
                        div(class="content")
                            p Thank you #{params.name}, for getting in contact with me. <br> I will get in contact with you as quick as possible.
                        div(class="shadow")
                div(class="button-bar")
                    div(class="button")
                        a(href="/")
                            i(class="fas fa-home")

        script(type="text/javascript", src="/js/skill.js")
        script(type="text/javascript", src="/js/index.js")